@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');
header, section, footer, aside, nav, main, article, figure {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #777777;
    /* background-color: green; */
}

p {
    font-family: roboto, sans-serif;
}

/* Navbar */

#logo {
    letter-spacing: 3px;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}

.hover a:hover {
    border-bottom: 1px solid #777777;
}

.active {
    border-bottom: 1px solid #777777;
}

/* Footer */

#footer {
    height: 200px;
    padding: 8px 16px;
    position: relative;
}

#footer-container {
    position: absolute;
    top: 40%;
    ;
}

/* Index Page */

#hero-image {
    height: 82vh;
    width: 100%;
    background: url("/static/images/hero-img-girl.jpg") no-repeat center left;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 7s;
    animation-fill-mode: forwards;
}

#hero-outer {
    min-height: 585px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    height: 360px;
}

@keyframes hero-zoom {
    from {
        transform: scale(1)
    }
    to {
        transform: scale(1.1)
    }
}

#cover-text, #color-text h2 {
    color: #ffffff;
}

#cover-text {
    text-align: center;
    color: #ffffff;
    padding: 25px 20px;
    background-color: #343a40;
    opacity: 0.7;
    background-size: cover;
    border-radius: 60px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
}

.carousel-inner>.item {
    height: 400px;
}

#cover-text-1 {
    font-size: 1.8rem;
    font-family: 'Manrope', sans-serif;
    text-transform: capitalize;
}

#virtual-training {
    font-size: 1.4rem;
    font-family: 'Manrope', sans-serif;
    margin-bottom: 0;
    text-transform: capitalize;
}

.membership-pricing-text {
    font-size: 1.25rem;
}

.adrenaline {
    font-size: 140%;
}

@media all and (min-width: 772px) {
    .shorten-hero-text {
        display: inline;
    }
    #cover-text {
        top: 20%;
        left: 10%;
    }
}

@media all and (max-width: 772px) and (min-width: 500px) {
    #cover-text {
        top: 25%;
        left: 24%;
    }
    .shorten-hero-text {
        display: none;
    }
}

@media all and (max-width: 500px) {
    #cover-text {
        top: 28%;
        left: 5%;
        right: 5%;
    }
    .shorten-hero-text {
        display: none;
    }
}

@media all and (max-width: 768px) {
    .description-paragraph {
        font-size: 1.1rem;
        margin-top: 10% !important;
    }
}

@media (min-width: 800px) {
    .description-paragraph {
        font-size: 1.5rem;
    }
}

/* About Page */

#about-img {
    display: grid;
    height: 400px;
    min-width: 350px;
    background: url("../assets/images/about-img-try3.jpg") no-repeat center center;
    background-size: cover;
}

.commitment {
    border: 2px solid black;
    margin: 5px 3px;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 100%;
    padding-right: 100%;
}

.carousel-item {
    height: auto !important;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

@media all and (max-width: 690px) {
    blockquote {
        font-size: 1rem;
    }
    .carousel-names {
        font-size: 1.7rem;
    }
}

/* Contact Page */

#contact-img {
    height: 390px;
    width: 100%;
    background: url("../assets/images/contact-img30.jpg") no-repeat top right;
    background-size: cover;
}

.carousel-item {
    height: 30rem;
    position: relative;
}

.carousel-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 10%;
    font-size: 18px;
    vertical-align: middle;
}

.contact-info {
    position: relative;
}

.roboto-font {
    font-family: roboto, sans-serif;
}

@media all and (max-width: 768px) {
    .contact-media-query {
        text-align: center;
        padding-left: 0px!important;
        padding-right: 0px;
    }
    .button-query-contact {
        vertical-align: top;
    }
}

@media all and (min-width: 768px) {
    .contact-button {
        margin-top: 15% !important;
    }
}

/* Membership */

.list-size {
    font-size: 1.5rem;
    list-style-type: none;
}

.list-margins {
    margin-left: 5px;
    margin-right: 5px;
}

.icon-target {
    margin-right: 15px;
}

.list-headers {
    margin-bottom: 30px;
}

@media all and (max-width: 768px) {
    .small-text-size {
        font-size: 1.2rem;
        text-align: center;
    }
    .list-headers {
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: underline;
    }
    .benefits {
        margin-bottom: 0 !important;
    }
}