<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% if title %}
        <h2>{{ title }}</h2>
        {% else %}
        Welcome To World Of Yoga
        {% endif %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <!-- Vendor CSS Files -->
    <!-- Favicon -->
    <link href="{{ url_for('static',filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static',filename='/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet"> -->
    <link href="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/flaticon/font/flaticon.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style1.css') }}">

</head>



<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00am - 9:00pm</h2>
                            <p>Mon - Fri</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>+123 456 7890</h2>
                            <p>For Appointment</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="top-bar-right">
                        <div class="social">
                            <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a href="https://linkedin.in/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Y<span>oo</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{{url_for('home')}}" class="nav-item nav-link">Home</a>
                    <a href="{{url_for('aboutus')}}" class="nav-item nav-link">About Us</a>
                    <a href="{{url_for('services')}}" class="nav-item nav-link">Why Yoga ?</a>
                    <a href="{{url_for('contact')}}" class="nav-item nav-link">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->
    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Yoga Practice For Good Health</h1>
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasell nec pretum mi. Curabi ornare velit non. Aliqua
                            metus tortor auctor quis sem.
                        </p>
                        <div class="hero-btn">
                            <a class="btn" href="{{url_for('contact')}}">Join Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 d-none d-md-block">
                    <div class="hero-image">
                        <img src="{{ url_for('static',filename='img/hero.png') }}" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
    </div>




    <main class="content">
        {% block content %}

        {% endblock %}

    </main>




    <div class="class">
        <div class="container">


            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Our Classes</p>
                <h2>Yoga Class Schedule</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul id="class-filter">
                        <li data-filter="*" class="filter-active">All Classes</li>
                    </ul>
                </div>
            </div>

            <div class="row class-container">
                {% for value in values %}
                <div class="col-lg-4 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">

                    <div class="class-wrap">

                        <div class="class-img">
                            <img src="{{ value.class_img }}" alt="Image">
                        </div>
                        <div class="class-text">
                            <div class="class-teacher">
                                <img src="{{ value.class_teacher_img }}" alt="Image">
                                <h3>{{ value.Instructor_name}}</h3>
                                <a href="/base/{{ value.url }}">+</a>
                            </div>
                            <h2>{{ value.class_yoga }}</h2>
                            <div class="class-meta">

                                <p><i class="far fa-calendar-alt"></i>
                                    {% for classes in value['class_days'] %}
                                    {{ classes }}{{ " - "}}
                                    {% endfor %}
                                </p>
                                <p><i class="far fa-clock"></i>{{ value.class_timing }}</p>
                            </div>
                        </div>

                    </div>

                </div>
                {% endfor %}
            </div>

        </div>

    </div>


    <!-- Team Start -->
    <div class="team">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Yoga Trainer</p>
                <h2>Expert Yoga Trainer</h2>
            </div>
            <div class="row">
                {% for value in values %}

                {% if value.category=="Expert" %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="{{ value.teacher_expert }}" alt="Image">
                            <div class="team-social">
                                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://linkedin.in/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="team-text">
                            <h2>{{ value.Instructor_name }}</h2>
                            <p>Yoga Teacher</p>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </div> -->
    <!-- Team End -->

    <!-- Price Start -->
    <div class="price">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <p>Yoga Package</p>
                <h2>Yoga Pricing Plan</h2>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-title">
                                <h2>Basic</h2>
                            </div>
                            <div class="price-prices">
                                <h2><small>$</small>49<span>/ mo</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Personal Trainer</li>
                                    <li>Special Class</li>
                                    <li>Free Tutorials</li>
                                    <li>Group Training</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a href="{{url_for('contact')}}" class="nav-item nav-link">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-status">
                                <span>Popular</span>
                            </div>
                            <div class="price-title">
                                <h2>Standard</h2>
                            </div>
                            <div class="price-prices">
                                <h2><small>$</small>99<span>/ mo</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Personal Trainer</li>
                                    <li>Special Class</li>
                                    <li>Free Tutorials</li>
                                    <li>Group Training</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a href="{{url_for('contact')}}" class="nav-item nav-link">Join Now</a>                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-title">
                                <h2>Premium</h2>
                            </div>
                            <div class="price-prices">
                                <h2><small>$</small>149<span>/ mo</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Personal Trainer</li>
                                    <li>Special Class</li>
                                    <li>Free Tutorials</li>
                                    <li>Group Training</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a href="{{url_for('contact')}}" class="nav-item nav-link">Join Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price End -->

<!-- Discount Start -->
<div class="discount wow zoomIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="section-header text-center">
            <p>Awesome Discount</p>
            <h2>Get <span>30%</span> Discount for all Classes</h2>
        </div>
        <div class="container discount-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis
                ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                Curabitur non nisl nec nisi scelerisque maximus.
            </p>
            <a href="{{url_for('contact')}}" class="nav-item nav-link">Join Now</a>
        </div>
    </div>
</div>
<!-- Discount End -->















    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="container">
                <div class="footer-info">
                    <a href="/" class="footer-logo">Y<span>oo</span>ga</a>
                    <h3>123 Street, New York, USA</h3>
                    <div class="footer-menu">
                        <p>+012 345 67890</p>
                        <p>info@example.com</p>
                    </div>
                    <div class="footer-social">
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://linkedin.in/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{url_for('home')}}">Yooga</a>
                    </div>
                    <div class="col-md-6">
                        <p>
                            {% if cr %}
                            {{cr}}
                            {% else %}
                            2021 Flask FrameWork Project By:- Vikas Sharma
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static',filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/isotope/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/lightbox/js/lightbox.min.js') }}"></script>


    <!-- <script src="{{ url_for('static',filename='js/main.js')}}"></script> -->
</body>

</html>